html, body {
  background-color: #1D1E22;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tic_tac_toe {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tic_tac_toe .game_start {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.tic_tac_toe .game_start h1 {
  margin: 0;
}

.tic_tac_toe .game_start:hover {
  color: #efff5c;
  border: 3px solid #efff5c;
}

.bg_none {
  display: none;
}

.game_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  list-style: none;
  border: solid #fff 2px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin-top: 0;
  font-size: 2rem;
}

@media (max-width: 475px) {
  .game_text {
    width: 90vw;
  }
}

.game_text .block {
  width: 50px;
  height: 50px;
  border: none;
}

.game_text .block.left {
  border-right: solid #fff 2px;
}

.game_text .block.right {
  border-left: solid #fff 2px;
}

.block_area {
  width: 450px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 475px) {
  .block_area {
    width: 90vw;
    height: 90vw;
  }
}

.block {
  width: 150px;
  height: 150px;
  border: solid #fff 1px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 475px) {
  .block {
    width: 30vw;
    height: 30vw;
  }
}

.block.small {
  width: 50px;
  height: 50px;
}

.block::after, .block::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s;
  transition: .4s;
}

.block.circle::after, .block.circle::before {
  border-radius: 50%;
}

.block.circle::before {
  width: 75%;
  height: 75%;
  background-color: #f42;
}

.block.circle::after {
  width: 55%;
  height: 55%;
  background-color: #1D1E22;
}

.block.cross::before, .block.cross::after {
  width: 85%;
  height: 10%;
  background-color: #56f;
  border-radius: 50px;
}

.block.cross::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.block.cross::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.btn_group {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 475px) {
  .btn_group {
    width: 100vw;
  }
}

.btn_group .restart {
  cursor: pointer;
}

.btn_group .restart:hover {
  color: #ccc;
}

.btn_group .again {
  cursor: pointer;
}

.btn_group .again:hover {
  color: #ccc;
}
/*# sourceMappingURL=style.css.map */